header {
  background-color: rgb(85, 36, 131);
  color: white;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-left: 25px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(36, 34, 34);
}

img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.title,
.photo {
  width: 100%;
  border: 1px solid rgb(212, 208, 208);
  line-height: 1.5rem;
}

.notes {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(212, 208, 208);
}

.title:hover,
.photo:hover,
.notes:hover {
  border: 2px solid rgb(85, 36, 131);
}

.save {
  background-color: rgb(85, 36, 131);
  color: white;
  border-radius: 6%;
  border: none;
  padding: 6px 12px;
  display: flex;
  justify-content: flex-end;
}
